---
# Main scss file
---
@charset "utf-8";

$av-enable-grid-center: true;
$av-enable-grid-cell-center: true;
$av-enable-grid-large: true;
$av-widths: ( 3, 4 );

@import '../node_modules/avalanche-css/_avalanche.scss';

@import
  'normalize',
  'solo',
  'promo',
  'cards',
  'forms',
  'responsive',
  'a11y',
  'syntax';
