<article class="card-in-list grid__cell 1/3--desk 1/2" id="project-{{ project.slug }}">
  <h2>
    <a href="{{ project.url | relative_url }}" rel="permalink">{{ project.name }}</a>
  </h2>

  <dl class="def-as-list">
    <dt class="hidden-from-ui">Summary</dt>
    <dd class="main">{{ project.short_description }}</dd>

    {% if project.customer %}
    <dt>Customer</dt>
    <dd>
      <ul class="list-inline">{% assign customer_id = project.customer %}
        {% assign customer = site.data.customers[customer_id] %}
        <li>
          <a href="{{ customer.url }}" target="_blank">{{ customer.name }}</a>
        </li>
      </ul>
    </dd>
    {% endif %}

    <dt>Current Stage</dt>
    <dd>{{ project.current_stage }}</dd>

    {% if project.next_stage %}
    <dt>Next Stage</dt>
    <dd>{{ project.next_stage }}</dd>
    {% endif %}

    {% assign collection = site.collections | where:'label',project.collection | first %}
    {% if project.resources %}
    <dt>Additional Resources</dt>
      {% for resource_value in project.resources %}
      {% assign resource_id = resource_value[0] %}
      <dd class="same-def"><a href="{{ resource_value[1] }}" target="_blank">{{ collection.resources[resource_id] }}</a></dd>
      {% endfor %}
    {% endif %}
  </dl>
</article>
