@import 'dtc';

.cards {
  @extend .cf;
  @extend .w-100;

  .card {
    @extend .fl-l;
    @extend .w-third-l;

    figure {
      @extend .mh0;
    }
  }
}


.def-as-list {
  dt {
    @extend .bt;
    @extend .b--gray;
    @extend .gray;
    @extend .f7;
    margin: 1.5em 2em 0 0;
    padding: .5em 0 0;
  }

  dd {
    margin: 0 1em 1.5em 0;
  }
  dd.same-def {
    margin: 0 1em 0 0;
  }

  dd.main {
    font-size: 1em;   // restore initial size
  }
}
