
@media(min-width: 770px) {
  .container {
    display: flex;
    flex-wrap: wrap;

    .clear {
      flex: none !important;
    }

    > .col-md-12 {
      flex: 1;
      width: 100%;
    }

    > .col-md-4 {
      flex: 1;
      width: 33%;
    }
  }
}

.container-strip {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

@media(min-width: 770px) {
  .faux-accordion {
    max-width: none;
    margin: 0;
  }
}
