@import 'dtc';

$timeline-dot-width: 10px;
$timeline-dot-border-width: 2px;

.timeline {
  @extend .list;
  @extend .relative;
  @extend .pl4;

  &:before {
    @extend .absolute;
    @extend .bg-gray;
    @extend .bottom-0;
    @extend .top-0;
    content: "";
    left: ($timeline-dot-width + $timeline-dot-border-width) / 2;
    width: $timeline-dot-border-width;
    z-index: -1;
  }

  .timeline__item {
    @extend .relative;

    time {
      @extend .gray;
      @extend .f6;
    }

    p:first-of-type {
      @extend .mt2;
    }

    a[rel="permalink"] {
      font-weight: bold;
    }

    &:before {
      background: #fff;
      border: $timeline-dot-border-width solid $gray;
      border-radius: 50%;
      content: "";
      display: block;
      height: $timeline-dot-width;
      left: -#{$spacing-large};
      margin: .2rem 0;
      position: absolute;
      width: $timeline-dot-width;
    }
  }
}
