.writing {
  @extend .w-50-l;
  @extend .center-l;
  @extend .mv5;

  .subtitle {
    @extend .f4;
    @extend .gray;
    @extend .nt3;
  }

  footer {
    @extend .gray;
    @extend .mt5;

    &:before {
      content: "";
      @extend .db;
      border-top: 5px solid $gray;
      width: 50px;
    }
  }
}
