---
layout: base
---
{% assign projects = site.projects | where_exp: "d", "d.highlights_order > 0" | sort: "highlights_order"  %}
{% assign customers = site.data.customers %}

  <article class="hero">
    {{ content }}

    <p>
      At the moment we work {% for project in projects %}
      on <a href="{{ project.url }}">{{ project.name | downcase }}</a> with <em>{{ customers[ project.customer ].name }}</em>, {% endfor %}
      just to name a few.
    </p>
  </article>

  <section>
    <div class="cards">
    {% assign features = 'customer,current-stage,resources' | split:',' %}
    {% for project in projects %}
    {% include projects/card-in-list.html project=project features=features %}
    {% endfor %}
    </div>

    <footer class="tc mv4">
      <a href="{{ site.baseurl }}/projects/" class="btn btn--large">Discover all our projects…</a>
    </footer>
  </section>

  <section>
    <header>
      <h1>About us</h1>
    </header>

    <div class="cards">
    {% for person_hash in site.data.team %}
    {% assign id = person_hash[0] %}
    {% assign person = person_hash[1] %}
    {% include team/card-in-list.html person=person id=id %}
    {% endfor %}
    </div>
  </section>

  {% include footer.html %}
