<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <title>{{ site.title }} — {{ page.title }}</title>
  <link rel="canonical" href="{{ site.url }}" />
</head>
<body>
  <article class="container promo">
    <h1 class="main-title"><a href="./">{{ site.tag_text }}</a></h1>

    {{ content }}
  </article>

  <section class="container-strip">
    <header class="container">
      <h1 class="col-md-12 clear">Project Highlights</h1>
    </header>

    <div class="faux-accordion container">
    {% for project in site.projects %}
    {% include projects/card-in-list.html project=project %}
    {% endfor %}
    </div>
  </section>

  <section class="container">
    <h1 class="col-md-12 clear">About us</h1>

    {% for person_hash in site.data.team %}
    {% assign id = person_hash[0] %}
    {% assign person = person_hash[1] %}
    {% include team/card-in-list.html person=person id=id %}
    {% endfor %}
  </section>

  {% include footer.html %}
</body>
</html>
