---
layout: base
---
  <article class="hero">
    {{ content }}
  </article>

  <section>
    <header>
      <h1>Project Highlights</h1>
    </header>

    <div class="cards">
    {% assign projects = site.projects | where_exp: "d", "d.highlights_order > 0" | sort: "highlights_order"  %}
    {% for project in projects %}
    {% include projects/card-in-list.html project=project %}
    {% endfor %}
    </div>

    <footer class="tc mv4">
      <a href="{{ site.baseurl }}/projects/" class="btn btn--large">Discover all our projects…</a>
    </footer>
  </section>

  <section>
    <header>
      <h1>About us</h1>
    </header>

    <div class="cards">
    {% for person_hash in site.data.team %}
    {% assign id = person_hash[0] %}
    {% assign person = person_hash[1] %}
    {% include team/card-in-list.html person=person id=id %}
    {% endfor %}
    </div>
  </section>

  {% include footer.html %}
