---
layout: base
---

<header class="container promo">
  <h1 class="main-title"><a href="./">{{ site.tag_text }}</a></h1>

  <h2 class="subtitle">{{ site.description }}</h2>
</header>

<article class="container">
  <header>
    <h1>{{ page.name }}</h1>
  </header>

  {{ page.short_description }}
</article>

{% assign project_writings = site.posts | where: 'projects', page.slug %}
{% unless project_writings == empty %}
<nav class="container">
  <h2>Project News</h2>

  {% include writings/timeline.html writings=project_writings %}
</nav>
{% endunless %}

<article class="container">
  <h2>Project Context</h2>

  {{ page.content }}
</article>

{% include footer.html %}
