---
layout: base
---

<article class="container">
  <header>
    <h1 class="h2">{{ page.name }}</h1>

    {% if page.customers %}
    <p class="subtitle">A project with {% for customer_id in page.customers %}
      {% assign customer = site.data.customers[customer_id] %}
        <a href="{{ customer.url }}" target="_blank">{{ customer.name }}</a>
    {% endfor %}</p>
    {% endif %}
  </header>

  {{ page.short_description }}
</article>

{% assign project_writings = site.posts | where: 'projects', page.slug %}
{% unless project_writings == empty %}
<nav class="container">
  <h2>Project News</h2>

  {% include writings/timeline.html writings=project_writings %}
</nav>
{% endunless %}

<article class="container">
  <h2>Project Context</h2>

  {{ page.content }}
</article>

{% include footer.html %}
